source/Extant/Extant.Pubmed/Service References/EBIPublicationsService/soap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:epmc="https://www.europepmc.org/data" xmlns:slx="http://www.scholix.org" xmlns:tns="https://www.europepmc.org/data" elementFormDefault="qualified" targetNamespace="https://www.europepmc.org/data" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=2" namespace="http://www.scholix.org" />
  <xs:element name="Frequency" type="xs:int" />
  <xs:complexType name="dataLinks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="Tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="CategoryLinkCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Section" type="tns:Section" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObtainedBy" type="xs:string" />
      <xs:element minOccurs="0" name="Tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="SectionLinkCount" type="xs:int" />
      <xs:element minOccurs="0" name="Linklist" type="slx:Linklist" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" ref="slx:Name" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>